.container {
  width: 550px;
  background: #ebfeff;
  border-radius: 10px;
  border: 2px solid #0085a3;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.container p {
  font-size: 1rem;
}

.questionBoard {
  height: 70px;
}

.btn {
  transition: all 0.3s ease;
}

.btn button:hover {
  opacity: 0.8;
}

.btn button {
  cursor: pointer;
  user-select: none;
  font-size: 0.8rem;
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border: 3px solid #fff;
  box-shadow: 1px 2px opx rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.right {
  background: linear-gradient(90deg, #56ffa4, #59bc86);
}

.wrong {
  background: linear-gradient(90deg, #ff5656, #c16868);
}

.clicked {
  background: linear-gradient(90deg, #56ccff, #6eafb4);
}
